<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <property name="HOME_LOG" value="./logs"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}/app.log</file>
        <encoder>
            <pattern>[%thread] %d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${HOME_LOG}/archived/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>5MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>10GB</totalSizeCap>
            <!-- 7 days to keep -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="pl.prokom.view.controllers.sudokuboard.SudokuBoardController" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>
</configuration>